body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body *{
    outline: none;
}

.header{
    height: 100px;
    background-color: blueviolet;
}

.header-main{
    position: relative;
    margin: auto 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-main-content{
    display: flex;
    flex-direction: row;
}

.header-main-content-logo{
    width: 300px;
    height: 70px;
}

.header-main-content-nav{
    width: max-content;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.header-main-content-nav-el{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.header-main-content-nav-el a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.header-main-content-nav-el button{
    background-color: white;
    color: blueviolet;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.header-main-content-nav-el a{
    color: white;
}


.main{
    background-color: rgb(238, 234, 234);
}

.main-content{
    position: relative;
    margin: auto 100px;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

form{
    width: 100%;
    height: max-content;
    border-radius: 15px;
    background-color: white;
}

.form-content{
    padding: 60px 50px;
    height: max-content;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info > div, .info > input{
    box-sizing: border-box;
}

.input-label{
    color: lightslategray;
}

.left, .right{
    min-width: 50%;
}

.left{
    padding-right: 30px;
}

.right{
    padding-left: 30px;
}

.name, .pass, .checkbox{
    margin-bottom: 20px;
}

.login{
    margin-bottom: 100px;
}

.input-label{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

#firstname,
#surname,
#login,
#email{
    border: 1px solid lightslategray;
    border-radius: 5px;
    height: 80px;
    font-size: 36px;
    text-indent: 10px;
    width: 100%;
}

#password,
#password-second{
    border-radius: 5px;
    height: 80px;
    font-size: 36px;
    text-indent: 10px;
    width: 100%;
}

.button *{
    background-color: blueviolet;
    color: white;
    width: 15%;
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.footer{
    height: 100px;
    background-color: rgb(238, 234, 234);
}

.footer-main{
    position: relative;
    margin: auto 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-main-content{
    display: flex;
    flex-direction: row;
}

.footer-main-content-nav a{
    margin-right: 50px;
}

.footer-main-content-label{
    margin-left: auto;
    color: rgb(84, 84, 84);
}

#errors{
    display: none;
    margin: 15px 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

#errors p{
    padding: 0 10px;
    font-size: 15px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

.pass-standard{
    border: 1px solid lightslategray;
}

.pass-invalid{
    border: 1px solid red;
}

.pass-valid{
    border: 2px solid green;
}