<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>
      Последние публикации
    </title>

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">
    <header class="header">
      <div class="header-main">
        <div class="header-main-content">

          <div class="header-main-content-logo">
            <a href="./" class="header-main-content-logo"><img src="./img/BlogLogo.png" alt=""></a>
          </div>

          <div class="header-main-content-nav">

            <div class="header-main-content-nav-el">
              <img src="./img/Profile.png" alt="">
            </div>

            <div class="header-main-content-nav-el">
              <a href="">Войти</a>
            </div>

            <div class="header-main-content-nav-el">
              <a href="">Зарегестрироваться</a>
            </div>

          </div>
        </div>
      </div>
    </header>
  
    <main class="main">

      <h1>Последние публикации</h1>

      <div class="content">     
        <div class="post-grid">
          <div class="post-row">

            <div v-for="post in posts" class="post">
              <img v-bind:src="post.image" alt="">
              <div class="post-content">
                <div>
                  <h3>{{post.title}}</h3>
                  <p>{{post.intro}}</p> 
                </div>                              
                <div class="post-content-label">
                  <span v-for="label in post.labels" v-bind:data-categories="label">{{label}}</span>
                </div>                        
              </div>
            </div>

          </div>

          <div class="upload">
            <span>Загрузить еще 6</span>
          </div>

        </div>

        <div class="category">
          <h3>
            Рубрики
          </h3>       
          <a href="#">Обучение</a> 
          <a href="#">Карьера</a> 
          <a href="#">Figma</a> 
          <a href="#">Консоль</a>
          <a href="#">Git</a>
          <a href="#">Новости</a>
        </div>
   
      </div>
    </main>

    <footer class="footer">
      <div class="footer-main">
        <div class="footer-main-content">
          <div class="footer-main-content-nav">
            <a href="">Об авторе</a>
            <a href="">Технологии</a>
          </div>
          <div class="footer-main-content-label">
            <label for="">© blog, 2022</label>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="./js/vue.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="./js/vue.js"></script>
  </body>

</html>
